<%- include("partials/header") %>
<style> body{

    z-index: 1;
    text-align: center ;
    background-color: black;
    background-repeat: no-repeat;
    background-size:cover;
    
}
h1{
    color: wheat;
    margin-top: 150px;
}</style>
<h1>WELCOME TO YELPCAMP </h1>

<a href="/campgrounds" class="btn btn-success btn-lg">View All Campgrounds</a>

<%- include("partials/footer") %>